In [25]:
import numpy as np
import pandas as pd

dir = "output_covid_data.csv"
df = pd.read_csv(dir)
df

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations
0,0,AFG,Asia,Afghanistan,24-02-20,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,AFG,Asia,Afghanistan,25-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,AFG,Asia,Afghanistan,26-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,AFG,Asia,Afghanistan,27-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,AFG,Asia,Afghanistan,28-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183578,183578,ZWE,Africa,Zimbabwe,29-04-22,247842,58,5469.0,0.0,10304899.0,5864940.0,3667392.0,772567.0,19472.0
183579,183579,ZWE,Africa,Zimbabwe,30-04-22,247875,33,5469.0,0.0,10313861.0,5866832.0,3672516.0,774513.0,8962.0
183580,183580,ZWE,Africa,Zimbabwe,01-05-22,247911,36,5469.0,0.0,10320810.0,5867908.0,3675272.0,777630.0,6949.0
183581,183581,ZWE,Africa,Zimbabwe,02-05-22,247935,24,5470.0,1.0,10329879.0,5870126.0,3679006.0,780747.0,9069.0
183582,183582,ZWE,Africa,Zimbabwe,03-05-22,247990,55,5470.0,0.0,10329879.0,5870126.0,3679006.0,780747.0,0.0

In [26]:
L = []
for x in df["date"]:
    temp = x[:6] + "20" + x[6:]
    L.append(temp)

df['date'] = L
df

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations
0,0,AFG,Asia,Afghanistan,24-02-2020,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,AFG,Asia,Afghanistan,25-02-2020,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,AFG,Asia,Afghanistan,26-02-2020,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,AFG,Asia,Afghanistan,27-02-2020,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,AFG,Asia,Afghanistan,28-02-2020,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183578,183578,ZWE,Africa,Zimbabwe,29-04-2022,247842,58,5469.0,0.0,10304899.0,5864940.0,3667392.0,772567.0,19472.0
183579,183579,ZWE,Africa,Zimbabwe,30-04-2022,247875,33,5469.0,0.0,10313861.0,5866832.0,3672516.0,774513.0,8962.0
183580,183580,ZWE,Africa,Zimbabwe,01-05-2022,247911,36,5469.0,0.0,10320810.0,5867908.0,3675272.0,777630.0,6949.0
183581,183581,ZWE,Africa,Zimbabwe,02-05-2022,247935,24,5470.0,1.0,10329879.0,5870126.0,3679006.0,780747.0,9069.0
183582,183582,ZWE,Africa,Zimbabwe,03-05-2022,247990,55,5470.0,0.0,10329879.0,5870126.0,3679006.0,780747.0,0.0

In [27]:
df.to_csv(dir)