In [2]:
import numpy as np
import pandas as pd

dir = "D:/Java/data-oriented-java-project/assets/data/covid_data_cleaned.csv"
df = pd.read_csv(dir)

In [6]:
df[['total_vaccinations','total_boosters']]

        total_vaccinations  total_boosters
0                      NaN             NaN
1                      NaN             NaN
2                      NaN             NaN
3                      NaN             NaN
4                      NaN             NaN
...                    ...             ...
183578          10304899.0        772567.0
183579          10313861.0        774513.0
183580          10320810.0        777630.0
183581          10329879.0        780747.0
183582                 NaN             NaN

[183583 rows x 2 columns]

In [11]:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

iso_code
False    183583
Name: iso_code, dtype: int64

continent
False    172860
True      10723
Name: continent, dtype: int64

location
False    183583
Name: location, dtype: int64

date
False    183583
Name: date, dtype: int64

total_cases
False    183583
Name: total_cases, dtype: int64

new_cases
False    183583
Name: new_cases, dtype: int64

total_deaths
False    158534
True      25049
Name: total_deaths, dtype: int64

new_deaths
False    158507
True      25076
Name: new_deaths, dtype: int64

total_vaccinations
True     133572
False     50011
Name: total_vaccinations, dtype: int64

people_vaccinated
True     136019
False     47564
Name: people_vaccinated, dtype: int64

people_fully_vaccinated
True     138517
False     45066
Name: people_fully_vaccinated, dtype: int64

total_boosters
True     161152
False     22431
Name: total_boosters, dtype: int64

new_vaccinations
True     142523
False     41060
Name: new_vaccinations, dtype: int64

In [ ]:
df.fillna()

In [10]:
df.to_csv("C:/Users/BTD/Desktop/temp-data.csv")