Load .csv to df

In [65]:
import numpy as np
import pandas as pd

dir = "input_covid_data.csv"
df = pd.read_csv(dir)

In [66]:
print(df.columns)
print(len(df.columns))

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations'],
      dtype='object')
13

In [67]:
const_df = df[['iso_code', 'continent', 'location', 'date']]
fill0_df = df[['new_cases', 'new_deaths', 'new_vaccinations']]
ffill_df = df[['location', 'total_cases', 'total_deaths', 'people_vaccinated',
               'people_fully_vaccinated',
               'total_vaccinations', 'total_boosters']]
print(len(const_df.columns)+len(fill0_df.columns)+len(ffill_df.columns))

14

Define functions

In [68]:
def what_is_missing(local_df):
    missing_data = local_df.isnull()
    for column in missing_data.columns.values.tolist():
        print(column)
        print(missing_data[column].value_counts())
        print("")

In [69]:
fill0_df.fillna(0,inplace = True)

c:\Program Files\Python39\lib\site-packages\pandas\core\frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [70]:
# ffill_df.iloc[1,3:7] = 0
# np.isnan(ffill_df.iloc[2,3])
for i in range(3,7):
    print(i)

3
4
5
6

In [71]:
for i in range(ffill_df.shape[0]-1):
    if(ffill_df.iloc[i,0:1].values != ffill_df.iloc[i+1,0:1].values):
        for j in range(3,7):
            if(np.isnan(ffill_df.iloc[i, j])):
                ffill_df.iloc[i,j] = 0
ffill_df.iloc[0,3:7] = 0

c:\Program Files\Python39\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [72]:
ffill_df.fillna(method='ffill',inplace = True)

In [73]:
what_is_missing(const_df)

iso_code
False    183583
Name: iso_code, dtype: int64

continent
False    172860
True      10723
Name: continent, dtype: int64

location
False    183583
Name: location, dtype: int64

date
False    183583
Name: date, dtype: int64

In [74]:
what_is_missing(fill0_df)

new_cases
False    183583
Name: new_cases, dtype: int64

new_deaths
False    183583
Name: new_deaths, dtype: int64

new_vaccinations
False    183583
Name: new_vaccinations, dtype: int64

In [75]:
what_is_missing(ffill_df)

location
False    183583
Name: location, dtype: int64

total_cases
False    183583
Name: total_cases, dtype: int64

total_deaths
False    183583
Name: total_deaths, dtype: int64

people_vaccinated
False    183583
Name: people_vaccinated, dtype: int64

people_fully_vaccinated
False    183583
Name: people_fully_vaccinated, dtype: int64

total_vaccinations
False    183583
Name: total_vaccinations, dtype: int64

total_boosters
False    183583
Name: total_boosters, dtype: int64

In [76]:
df[['new_cases', 'new_deaths', 'new_vaccinations']] = fill0_df[[
    'new_cases', 'new_deaths', 'new_vaccinations']]
df[['location', 'total_cases', 'total_deaths', 'people_vaccinated',
    'people_fully_vaccinated',
    'total_vaccinations', 'total_boosters']] = ffill_df[['location', 'total_cases', 'total_deaths', 'people_vaccinated',
                                                         'people_fully_vaccinated',
                                                         'total_vaccinations', 'total_boosters']]

In [77]:
df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations
0,AFG,Asia,Afghanistan,24-02-20,5,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Asia,Afghanistan,25-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Asia,Afghanistan,26-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Asia,Afghanistan,27-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Asia,Afghanistan,28-02-20,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183578,ZWE,Africa,Zimbabwe,29-04-22,247842,58,5469.0,0.0,10304899.0,5864940.0,3667392.0,772567.0,19472.0
183579,ZWE,Africa,Zimbabwe,30-04-22,247875,33,5469.0,0.0,10313861.0,5866832.0,3672516.0,774513.0,8962.0
183580,ZWE,Africa,Zimbabwe,01-05-22,247911,36,5469.0,0.0,10320810.0,5867908.0,3675272.0,777630.0,6949.0
183581,ZWE,Africa,Zimbabwe,02-05-22,247935,24,5470.0,1.0,10329879.0,5870126.0,3679006.0,780747.0,9069.0
183582,ZWE,Africa,Zimbabwe,03-05-22,247990,55,5470.0,0.0,10329879.0,5870126.0,3679006.0,780747.0,0.0

In [78]:
what_is_missing(df)

iso_code
False    183583
Name: iso_code, dtype: int64

continent
False    172860
True      10723
Name: continent, dtype: int64

location
False    183583
Name: location, dtype: int64

date
False    183583
Name: date, dtype: int64

total_cases
False    183583
Name: total_cases, dtype: int64

new_cases
False    183583
Name: new_cases, dtype: int64

total_deaths
False    183583
Name: total_deaths, dtype: int64

new_deaths
False    183583
Name: new_deaths, dtype: int64

total_vaccinations
False    183583
Name: total_vaccinations, dtype: int64

people_vaccinated
False    183583
Name: people_vaccinated, dtype: int64

people_fully_vaccinated
False    183583
Name: people_fully_vaccinated, dtype: int64

total_boosters
False    183583
Name: total_boosters, dtype: int64

new_vaccinations
False    183583
Name: new_vaccinations, dtype: int64

In [79]:
df.to_csv("output_covid_data.csv")